body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  margin: 10px;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}
.textarea_style:hover{
  -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.03);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.03);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.03);
  border: 1px solid #229cff;
}
.textarea_style:focus{
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.03);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.03);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.03);
  border: 1px solid #229cff;
}
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.calendar-container {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: auto;
  gap: 1px 1px;
  grid-template-areas: 
      ". header"
      "timeslot-container main";
}

.weekdays,
.daynumbers {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.daynumbers {
  min-height: 2cm;
}

.weekdays{
  background: lightblue;
}

.header {
  background: gray;
  grid-area: header;
}

.timeslots-container {
  background: lightgray;
  grid-area: timeslots-container;
  justify-content: left;
}

.timeslots {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeslots li {
  min-height: 60px;
}

.timeslots li::after {
  content: "";
  position: absolute;
  left: 10px;
  width: 100px;
  height: 1px;
  background: lightgray;
  z-index: 1;
}

.event-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(36, 1fr);
  grid-area: main;
  position: relative;
}

.slot {
  position: absolute;
  background: darkgray;
  border-radius: 5px;
  z-index: 5;
  color: white;
  font-size: 12px;
}

.slot-1 {
  height: 60px;
  grid-row: 7;
  /**
  aba(9-10) = : * 60 = 60min
  60/15 = 4 + 1 = 5;
  */
  grid-column: 1;
